<html>
    <head>
        <title>Ensure Light With Ai</title>
    <link rel="icon" type="image/ico" href="static/Image/favicon.ico">
    </head>
    <body>
        <table>
          
            {% for each_tuple in mylist %}
            
            <tr>
                
                <td><a href="/login_Secure/{{each_tuple[3]}}">OK</a></td>
        
            </tr>
            
            
            
            {% endfor %}
        
        
        
        
        
        </table>
        
    </body>


</html>