<html>
  <head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>About</title>
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      
      </head>
      
      <body>
          <section class="vh-100" style="background-color: #eee;">
          <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                  <div class="card-body p-md-5">
                    <div class="row justify-content-center">
                      
                      <div>
                        <!-- <marquee> <h1>About Me</h1></marquee> -->
                        <marquee direction="right" 
                            behavior="alternate" 
                            style="border:#e6e6e6 SOLID; background-color:	#e6e6e6">
                            <h1>About Me</h1>
                        </marquee>
                        <!-- <h1>About Me</h1> -->
                        <br>
                        <br>
                        

                        <h3>Tushar Rahangdale</h3>
                        <br>
                        <p>Hi, first of all, thanks for visiting this page. This page is all about me - Tushar Rahangdale. You will get exciting things about my life and it not over yet now</p>

<p>Hello, I’m Tushar Rahangdale, an engineering student.. 
    I’m interested in being a Coding Guru.

    I’ve enjoyed reading about different types of coding book and how they’re applied to different types of problems. I think it’s essential to have a wide range of knowledge when working in an coding field to be prepared for anything.
    
    I’m looking forward to meeting many new people here at IPS Academy.
    I do a Bachelor’s degree in engineering from the Institute of Engineering & Science, IPS Academy at Indore .

    
    I worked as a Intern in Introduction of Git , Github and open source at <strong>MICROSOFT LEARN STUDENT AMBASSADOR</strong>  for three months. I learned Diffrent type oof tools and how to be impement them .
    
    I hope to become a app developer shortly. Still, right now, I’m just enjoying my time studying and learning new things every day!</p>
    <p>As now i will try to improve my coding and looking for that things that can be help me in future </p>
    <h6>Be My Friend:</h6>

      
    </div>
    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </section>
        <script>
          function myFunction() {
              var x = document.getElementById("form3Example4c");
              if (x.type === "password") {
                x.type = "text";
              } else {
                x.type = "password";
              }
            }
          </script>


</body>
</html>
